@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gantt Chart</h1>
	<p class="lead">Système de gestion de produits/composants/taches</p>
    <p>Date: @DateTime.Now.ToString("dd-MM-yyyy")</p>
    <p><a href="/gantt/index" class="btn btn-primary btn-lg">Gantt Chart &raquo;</a></p>
</div>

